*.o
*.so
*.a
*.patch
*.vscode
_install

bpu_utility/hrut_bpu
hbm_utility/hrut_hbm
hrut_cleanuserdata/hrut_cleanuserdata
utility/chip_log
utility/hrut_390camtype
utility/hrut_boardid
utility/hrut_bpuprofile
utility/hrut_count
utility/hrut_ddr
utility/hrut_ddr_alterpara
utility/hrut_ddr_ecc
utility/hrut_ddr_freq
utility/hrut_duid
utility/hrut_eeprom
utility/hrut_ina226
utility/hrut_ip
utility/hrut_ipfull
utility/hrut_logmask
utility/hrut_mac
utility/hrut_otaserver
utility/hrut_otastatus
utility/hrut_resetreason
utility/hrut_socuid
utility/hrut_somid
utility/hrut_updateflag

